@import 'biosimulations-colors';

@mixin auto-area {
  height: auto;
  width: auto;
}

@mixin center-display {
  align-items: center;
  justify-content: center;
}

.project-overview-button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr)) !important; // button width
  gap: 10px;
  justify-content: center !important;
  align-items: center !important;
  max-width: 100%;
  width: 100% !important;
  height: 100px !important;
  padding-bottom: 3rem !important;

  .project-overview-button {
    margin-top: 0 !important;
    width: 275px !important;
    font-size: 16.5px !important;
    height: 75px !important;
    padding: 10px !important;
    text-align: center !important;
  }
}

.card-header {
  background-color: var(--primary-darker-color);
  font-weight: 500;
  font-size: medium;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 2px;
  border-radius: 4px 4px 0 0;
  height: 100%;
  margin-top: -1rem !important;

  &.project {
    font-size: 24px;
  }

  &.mat-expansion-panel-header.mat-expanded,
  &:hover {
    background-color: var(--primary-darker-color);
  }
}

.multipurpose-flat-button {
  background: var(--tertiary-darker-color) !important;
  transition: background-color ease-in-out 0.3s;

  &.portal-view {
    background: var(--quaternary-darker-color) !important;
  }

  &:hover {
    background: var(--accent-darker-color) !important;
  }
}

.viz-card-buttons {
  border: 3px solid red;
  height: fit-content;

  .run-view {
    border: 3px solid blue;
    margin-top: 2rem !important;
  }
}
/*.viz-card-footer {
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
  display: flex;
  flex-direction: column;

  .footer-button {
    &.portal-view {
      margin-top: 1rem !important;
    }
  }
}*/

.display-data,
.plotparent,
.item-expansion-header,
.item-expansion-header-under-dev {
  @include auto-area();
}

.spinner-container,
.icon-list,
.viz-card,
.figure-card {
  @include center-display();
}

.spinner-container,
.display-data,
.plotparent,
.figure-card {
  display: flex;
}

.spinner-container,
.figure-card,
.figure-card-header,
.files-item {
  height: auto;
}

.figure-card,
.figure-card-header {
  width: fit-content;
}

.item-expansion-header,
.item-expansion-header.mat-expansion-panel-header.mat-expanded,
.item-expansion-header-under-dev,
.figure-card-header {
  background-color: var(--primary-darker-color) !important;
}

.item-expansion-header,
.item-expansion-header-under-dev,
.right-col-tab,
.rerun-button,
.figure-card-header {
  &:hover {
    background-color: var(--accent-darker-color) !important;
    transition: background-color 0.3s ease-in-out !important;
  }
}

.display-data {
  flex-direction: row;
  font-family: 'Roboto', sans-serif;
  margin-top: 3rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.display-data > * {
  flex: 1;
  margin: 40px;
}

.plotparent {
  align-items: stretch;
  flex-direction: row;
}

biosimulations-tab-page ::ng-deep .icon-list {
  & > li:not(:first-child) {
    margin-top: 0.125rem;
  }

  a {
    color: $dark-primary-text;
    &:hover {
      color: $dark-primary-text;
      text-decoration: underline;
    }
  }
}

.files {
  margin-top: -2rem;
  ::ng-deep {
    h3 .icon-container {
      display: none;
    }
  }
}

@media screen and (max-width: 959px) {
  .files {
    margin-top: -1rem;
  }
}

.item-expansion-header {
  font-weight: normal;
  font-size: medium;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  border: 2px solid inherit;
  transition: background-color 0.1s ease-in-out;
  border-radius: 3px;
}

.item-expansion-header-under-dev {
  font-weight: normal;
  font-size: medium;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  align-items: center;
  border: 2px solid inherit;
  border-radius: 3px;
  transition: background-color 0.5s ease, transform 0.5s ease;

  &:hover {
    color: #2196f3 !important;
    transform: scale(1.0075);
    font-weight: bold;
  }
}

.icon-list {
  height: 100%;
  width: 100%;
  padding: 0.75rem;
}

.divider {
  width: 100%;
  height: 30px;
}

.right-col-tab {
  border: 2px solid gray;
  border-radius: 1px;
}

.full-width-tab-content {
  width: 100%;
}

.rerun-button {
  border-radius: 4px;
  color: var(--primary-darker-color) !important;
  background-color: var(--primary-lighter-color) !important;
  font-size: calc(1rem);
  font-weight: 700 !important;

  &:hover {
    transition: background-color 0.7s ease-in-out !important;
    color: var(--primary-darker-color) !important;
  }
}

.rerun-icon {
  padding-left: 18px;
}

.coming-soon-snackbar {
  background-color: #ff4081;
  color: white;
}

.viz-card {
  height: 100%;
  width: 600px;
  max-width: 100%;
  display: block;
  padding-top: 1rem;

  @media (max-width: 768px) {
    width: auto;
  }
}

.viz-card-content {
  height: fit-content;
  padding-top: 2rem;
}

.plots-card {
  padding: 2rem;
}

.figure-card {
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  cursor: move;
  flex-direction: row;
  background: #fff;
  border-radius: 4px;
  margin-right: 15px;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.figure-card:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.figure-card:last-child {
  border: none;
}

.figure-card-header {
  color: white;
  font-size: calc(1rem);
  align-items: center;
  border-radius: 3px;

  &:hover {
    transition: background-color 0.7s ease-in-out;
  }
}

.figure-card-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.viz-card-content.cdk-drop-list-dragging .figure-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.files-card {
  display: grid;
  flex-direction: column;
  height: 100%;
  font-weight: 600;
}

.details-expansion-item-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rerun {
  margin-top: 0 !important;
}

.figure-card,
.files-card,
.details-card {
  margin-top: 2rem;
}
